<h1>Listing repositories</h1>
<pre style="overflow:auto">
<%= @git.write_gitosis %>
</pre>
<% @repositories.each do |repository| %>
 	<div class="repository-list">
		<div class="repository-list-name">Repository: <%= repository.name %></div><div class="repository-list-links"><%= link_to 'Show', git_repository_path(repository.git_id,repository) %> || <%= link_to 'Edit', edit_git_repository_path(repository.git_id,repository) %> || <%= link_to 'Destroy', git_repository_path(repository.git_id,repository), :confirm => 'Are you sure?', :method => :delete %> || Fork</div><div class="clear"></div>
		<div class="repository-list-description">Description: <span style="font-size:80%"><%= repository.description %></span></div> <div class="repository-list-stats">Visible: Members | Gitweb: No | Users: 100 | Groups: 10</div><div class="clear"></div>
	</div>
	<hr>
<% end %>

<%= link_to 'New Repository', new_git_repository_path %>
