<p id="notice"><%= notice %></p>
<h2><%= @git.name %> / <%= @repository.name %></h2>


<p>
  <b>Description:</b>
  <%= @repository.description %>
</p>
<hr>
<h3>Users:</h3>
	<% @repository.users.each do |u| %>
	<div class="list-entry">
		<div class="list-entry-title"><%= u.user_name %></div>
		<div class="list-entry-comment"></div>
		<div class="list-entry-links"></div>
	</div>
	
	<%end%>
	<hr>
<h3>Groups:</h3>
<% @repository.groups.each do |g| %>
	<%= g.name %>
<%end%>
<hr>
<%= link_to 'Edit', edit_git_repository_path(@repository.git_id,@repository) %> |
<%= link_to 'Back', git_repositories_path %>
