<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @repository.name %>
</p>

<p>
  <b>Description:</b>
  <%= @repository.description %>
</p>

<p>
  <b>Visibility:</b>
  <%= @repository.visibility %>
</p>

<p>
  <b>Daemon:</b>
  <%= @repository.daemon %>
</p>

<p>
  <b>Gitweb:</b>
  <%= @repository.gitweb %>
</p>

<p>
  <b>Owner:</b>
  <%= @repository.owner %>
</p>


<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
