<p id="notice"><%= notice %></p>
<h2><%= @git.name %> / <%= @repository.name %></h2>
  <%= @repository.description %>
<pre>
This will be taken up by 



Readme Stuff whenever that gets



Implemented
</pre>

	Clone URL: I am a git clone url with many git related functions
<hr>
<h3>Repo Administrators:</h3>
<hr>




<h3>Users:</h3>
	<% @repository.users.each do |u| %>
	<div class="list-entry">
		<div class="list-entry-title"><%= u.user_name %></div>
		<div class="list-entry-comment"></div>
		<div class="list-entry-links"></div>
	</div>
	<%end%>
	<%= form_tag(repository_adduser_path(@repository.git_id,@repository), :method => "get") do %>
	<%= select("user", "id", @git.users.collect {|p| [ p.display_name, p.id ] }, {:include_blank => true}) %>
	<%= submit_tag("Add") %>
	<%end%>
	<hr>

<%= link_to 'Edit', edit_git_repository_path(@repository.git_id,@repository) %> |
<%= link_to 'Back', git_repositories_path %>
