<h1>Listing users</h1>

<table>
  <tr>
    <th>Git</th>
    <th>User name</th>
    <th>Real name</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.git_id %></td>
    <td><%= user.user_name %></td>
    <td><%= user.real_name %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= link_to 'Show', git_user_path(user.git_id,user) %></td>
    <td><%= link_to 'Edit', edit_git_user_path(user.git_id,user) %></td>
    <td><%= link_to 'Destroy', git_user_path(user.git_id,user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_git_user_path %>
