<h1>Listing gits</h1>

<table>
  <tr>
    <th>Repository url</th>
    <th>Clone url</th>
    <th>Name</th>
    <th>Public key</th>
    <th>Private key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gits.each do |git| %>
  <tr>
    <td><%= git.repository_url %></td>
    <td><%= git.clone_url %></td>
    <td><%= git.name %></td>
    <td><%= git.public_key %></td>
    <td><%= git.private_key %></td>
    <td><%= link_to 'Show', git %></td>
    <td><%= link_to 'Edit', edit_git_path(git) %></td>
    <td><%= link_to 'Destroy', git, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Git', new_git_path %>
