<%= form_for(@key_pair) do |f| %>
  <% if @key_pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key_pair.errors.count, "error") %> prohibited this key_pair from being saved:</h2>

      <ul>
      <% @key_pair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :public_key %><br />
    <%= f.text_area :public_key %>
  </div>
  <div class="field">
    <%= f.label :private_key %><br />
    <%= f.text_area :private_key %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
